type fingerprint_lge_execa, hwservice_manager_type;
type hal_lge_property_hwservice, hwservice_manager_type;
type hal_lge_lgkm_hwservice, hwservice_manager_type;
